<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>486153241683-otd96b3bf5p9jaj2kf6vhfvf3ugpjaab.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.486153241683-otd96b3bf5p9jaj2kf6vhfvf3ugpjaab</string>
	<key>API_KEY</key>
	<string>AIzaSyC4OYemoXSqVYcMvLltdSifhXduN1b5avk</string>
	<key>GCM_SENDER_ID</key>
	<string>486153241683</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.capl.hrms</string>
	<key>PROJECT_ID</key>
	<string>hrms-3a070</string>
	<key>STORAGE_BUCKET</key>
	<string>hrms-3a070.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:486153241683:ios:54e50657e7dbc77ccd32a6</string>
	<key>DATABASE_URL</key>
	<string>https://hrms-3a070.firebaseio.com</string>
</dict>
</plist>